
/* default characteristics we which we can override */
html {
    height : 100%;
        /* default font size 16px */
    font-size: 16px;    
}

*{
        /* width of box should include padding and a border */        
    box-sizing: border-box; 
}

body {
        /* change the default page font */
    font-family: 'Raleway', sans-serif; 
        /* set background image */
    background-image: linear-gradient(to bottom, #858c90, #BBB);
        /* do not repeat the background, stretch it */
    background-repeat: no-repeat;
        /* do not scroll the background with the image */
    background-attachment: fixed;
        /* ensure elements dont wrap and force horizontal scroll*/
    white-space: nowrap;
}

div.trello-list {
        /* create a multi-column layout */
    display: inline-block;
        /* set fixed width column - can do b/c inline-block */
    width: 300px;
        /* background color */
    background-color: #DDD;
        /* round the corners on the box */
    border-radius: 2px 3px;
}

div.trello-list h2{
        /* move it from the edge */
    margin: 8px;
        /* keep the font consistent with the root document size */
    font-size: 1.0rem;
    font-weight: bold;
}

div.trello-list ol{
        /* remove padding and margin */
    margin: 0;
    padding: 0;
}

div.trello-list li{
        /* remove the numbering of the items in the list */
    list-style: none;
    background-color: rgb(255,255,255);
        /*adjust the font to be a little smaller than the title */
    font-size: .9rem;
        /* round the card edge */
    border-radius: 1px;
        /* set the spacing between each item */
    margin-bottom: 10px;
    padding: 8px;
        /* set to wrap */
    white-space: normal;
}

div.trello-list li:hover{
        /* make item darker on hover*/
    background-color: #F5F6F7;
    color: #092d42;
}

div.trello-list li:last-child{
        /* the last item needs to reset its margin */
    margin-bottom: 0;
}

div.trello-list a {
        /* layout */
    display:block;
        /* change the look - removed hyperlink line*/
    text-decoration: none;
        /* spacing */
    padding: 8px 0px 8px 5px; /* top, right, bottom, left <-- clockwise */
        /*smaller font size */
    font-size: .85rem;
}

div.trello-list a:hover{
    background-color: rgba(9,45,66,.1);
}

div.trello-list {
        /* spacing to the right */
    margin-right:10px;
        /* align the top of each card */
    vertical-align: top;
}

header > h1, header > p {
        /*appear next to eah other not stacked */
    display: inline-block;
    color: white;
}

header > h1{
        /* convert to upper case */
    text-transform: uppercase;
        /* make it a little bigger */
    font-size: 1.1rem;
}

header > p{
        /* make a little smaller */
    font-size: .9rem;
        /* move to the left */
    padding-left: 5px;
}

.labels span {
    display:inline-block;
    vertical-align: top;
    width: 35px;
    height: 8px;
    border-radius: 3px;
}

.label.pathway {
    background-color: red;
}

.label.individual {
    background-color: green;
}

.label.pair {
    background-color: teal;
}

.label.general {
    background-color:orange;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #BBB;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
}

/* external component :: and psuedo class : */
body::-webkit-scrollbar-thumb:hover{
    background: #888;
}